body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: linear-gradient(8deg, rgba(38, 36, 44, 0.702) 0%, rgb(10, 13, 14) 100%) fixed,
		radial-gradient(circle, rgba(185, 182, 189, 0.55) 80%, rgb(36, 29, 40) 100%) fixed;
}

button.btn-wallet__connect {
	padding: 0.65em;
	background-color: rgb(35, 30, 39);
	color: inherit;

	font-size: 1.1rem;
	text-transform: none;
	&:hover {
		animation: colorChange 3s forwards;
		background-color: rgb(19, 20, 37);
	}
}

@keyframes colorChange {
	0% {
		background-color: rgb(29, 24, 47);
	}
	20% {
		background-color: rgb(37, 103, 126);
	}
	100% {
		background-color: rgb(16, 12, 24);
	}
}
div.card-swap {
	box-shadow: hsl(0deg 0% 95.12% / 14%) 3px 3px;
}

.swap-icon {
	background-color: #1e1e1e;
	border-radius: 50%;
	scale: 1.8;
	shape-rendering: geometricPrecision;
	position: absolute;
	top: 57.4%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	transition: fill 0.5s ease;
	color: rgb(61, 59, 59);
	&:hover {
		cursor: pointer;
		fill: rgb(224, 224, 224);
	}
}
.sign {
	color: #514f53;
	transition: color 0.3s ease-in;
	&:hover {
		color: rgb(224, 224, 224);
	}
}
.amount-out__usd {
	color: rgb(24, 173, 24);
}
.MuiAlert-icon {
	margin-top: 0.15em;
}
.balances {
	color: rgb(198, 198, 198);
}
.logo {
	filter: invert(0.5), saturate(4), sepia(0.5);
	/* object-fit: fill; */
	/* object-position: top; */
}
